{% macro random_int(len) -%}
{% for n in range(len) %}
{{[0,1,2,3,4,5,6,7,8,9]|random}}
{% endfor %}
{%- endmacro %}


{% macro icon(icon_name, tooltip) %}
<i class="bi bi-{{ icon_name }}"
   {% if tooltip %}
   data-bs-toggle="tooltip"
   data-bs-placement="{{ tooltip.p }}"
   title="{{ tooltip.l }}"
   {% endif %}>
</i>
{% endmacro %}

{% macro input_field(field_id_text, type, name, label, ph) %}
<div class="form-floating mb-3">
    <input name="{{ name }}" type="{{ type }}" class="form-control" id="{{ field_id_text }}" placeholder="{{ ph }}"
           required>
    <label for="{{ field_id_text }}">{{ label }}</label>
</div>
{% endmacro %}

{% macro email_field(name='email', label='Email Address') %}
{% set field_id = 'field-'+name+'-'+random_int(1) %}
{{ input_field(field_id, 'email', name, label, 'name@example.com' ) }}
{% endmacro %}

{% macro pass_field(name='password', label='Password') %}
{% set field_id = 'field-'+name+'-'+random_int(1)  -%}
{{ input_field(field_id, 'password', name, label, 'Password' ) }}
{% endmacro %}

{% macro print_toast() %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div aria-live="polite" aria-atomic="true">
    <div class="toast-container position-absolute top-0 end-0 p-3">
        {% for category, message in messages %}
        <div class="toast bg-{{ 'danger' if category == 'error' else 'success' }}" role="alert" aria-live="assertive"
             aria-atomic="true">
            <div class="toast-header">
                {{ icon('emoji-frown') if category == 'error' else icon('emoji-smile') }}
                <strong class="me-auto">&nbsp;{{ 'Error' if category == 'error' else 'Success' }} </strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                {{ message }}.
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endwith %}
{% endmacro %}
